<ion-view view-title="Login">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input ng-model="login.username" type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input ng-model="login.password" type="password" placeholder="Password">
      </label>
      <!-- <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label> -->
    </div>

    <div ng-if="login.error" class="row assertive">
      <div class="col text-center">
        <p></p>
        <p>{{login.message}}</p>
      </div>
    </div>

    <button ng-click="login.login(login.username, login.password)" class="button button-block button-positive">
      Login
    </button>

    <div class="row">
      <div class="col text-center">
        <p></p>
        <p>Don't have an account?</p>
      </div>
    </div>

    <button ng-click="login.redirectToSignup()" class="button button-block button-balanced">
      Sign Up
    </button>


  </ion-content>
</ion-view>
