<ion-view view-title="My Wings">
  <ion-content>
    <ion-list>
      <ion-radio ng-repeat="wing in myWings.wings" ng-model="myWings.currentWing" ng-value="wing.username">
        {{wing.username}}
      </ion-radio>
    </ion-list>

    <div class="item item-divider">
      Current Wing
    </div>

    <div class="item item-divider">
      Pending Current Wings
    </div>

    <div class="item item-divider">
      My Wings
    </div>

    <div class="item item-divider">
      Wing Requests
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(index, wing) in myWings.wingRequests" type="item-text-wrap">
        <img ng-src="./img/ben.png">
        <h2>{{wing.username}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="myWings.updateWing(wing.username, index, true)">
          Accept
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="myWings.updateWing(wing.username, index, false)">
          Deny
        </ion-option-button>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
