<ion-view view-title="Find Match">
  <ion-content>
  	<!-- potential match image -->
  	<div ng-show="findMatch.displayImg" class="row">
  		<div class = "col col-center"><img class="potential-match" ng-src="{{findMatch.potentialMatches[0].imageURL}}"></div> <!-- col-## the ## designates the % width -->
  	</div>

  	<!-- button bar -->
  	<div class="button-bar">
  		<!-- reject match button -->
	  	<button class="button button-outline button-assertive" ng-click="findMatch.nextMatch(findMatch.potentialMatches)">Reject</button>
	  	<!-- accept match button -->
	  	<button class="button button-outline button-positive" ng-click="findMatch.confirmMatch(findMatch.potentialMatches[0].duoID, findMatch.potentialMatches[0].status, true)">Accept</button>
  		
  	</div>

  </ion-content>
</ion-view>
