<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Add Wing Tab -->
  <ion-tab title="Add Wing" icon-off="ion-ios-plus-empty" 
  icon-on="ion-android-add" 
  href="#/tab/addWing">
    <!-- change tab-dash -->
    <ion-nav-view name="tab-addWing"></ion-nav-view>
  </ion-tab>

  <!-- Wing Status / MyWings-->
  <ion-tab title="My Wings" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/myWings">
    <!-- change tab-chats -->
    <ion-nav-view name="tab-myWings"></ion-nav-view>
  </ion-tab>

  <!-- Find Match -->
  <ion-tab title="Find Match" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/findMatch">
    <ion-nav-view name="tab-findMatch"></ion-nav-view>
  </ion-tab>

  <!-- My matches -->
  <ion-tab title="My Matches" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper-outline" href="#/tab/myMatches">
    <!-- change tab-account -->
    <ion-nav-view name="tab-myMatches"></ion-nav-view>
  </ion-tab>


</ion-tabs>
