/* Empty. Add your own CSS if you like */

.logo {
  width: 50%;
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
}

body {
  color: #333745;
}

body, .pane, .view {
  background-color: #fff;
}

.potential-match {
  width: 100%;
}

.float-right {
  float: right;
  top: -20px;
}


.auth-page {
  /*background-color: #3E8791;*/
}

.bar.bar-stable {
  background-color: #279DC4;
  border: none;
}

.bar.bar-stable .title {
  color: #fff;
  font-weight: 700;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #279DC4;
}

.landing-page {
  background-color: #279DC4;
}

.landing-page .logo {
  position: relative;
  top: 0;
  width: 262px;
  height: 185px;
  background-image: url('../img/wmLogo-white.png');
}

.landing-container {
  position: relative;
  top: 100px;
}

.landing-page .button-dark {
  background-color: #fff;
  color: #117191;
}

.landing-page .button-dark:hover, 
.landing-page .button-dark:active {
  background-color: #A7E0F2;
  color: #117191;
}

.landing-page .button-balanced {
  background-color: #F25774;
  color: #fff;
}

.landing-page .button-balanced:hover,
.landing-page .button-balanced:active {
  background-color: #C43D56;
  color: #fff;
}

/**
 *
 * Buttons
 *
 */
 
.button.button-positive {
  background-color: #279DC4;
}

.button.button-positive:hover,
.button.button-positive:active {
  background-color: #279DC4;
}

.button.button-balanced {
  background-color: #F25774;
}

.button.button-balanced:hover,
.button.button-balanced:active {
  background-color: #F25774;
}

.button.button-dark {
  color: #fff;
  background-color: #1B7694;
}

.button-bar {
  width: 96%;
  margin: auto;
}


/**
 *
 * Views
 *
 */

.add-wing {
  /*background-color: #94E0D7;*/
}

.add-wing .item-input {
  top: 100px;
}

.add-wing .item-input input {
  text-align: center;
}

.add-wing .button {
  top: 100px;
  display: block;
  margin: auto;
}

.add-wing .button-dark {
  font-weight: 700;
  color: #fff;
  background-color: #279DC4;
  -webkit-box-shadow: 0 3px 0 0 #1C7E9E;
  box-shadow: 0 3px 0 0 #1C7E9E;
}

.add-wing .button-dark:active {
  color: #fff;
  background-color: #279DC4;
}

.add-wing .button-dark:active {
  box-shadow: 0 3px 0 0 #1C7E9E;
}

.names {
  text-align: center;
}
